3x/.vs/
3x/packages/
3x/Move Mouse/bin/
3x/Move Mouse/obj/
4x/.vs/
4x/packages/
4x/Move Mouse/bin/
4x/Move Mouse/obj/
4x/UWP Package/
.vs/
bin/
obj/
*.user
*.suo
*.vs
.vscode/
profiles.xml
4x/profiles.xml
test_profiles.xml